.Card--div {
    display: flex;
    margin-left: 30px;
    overflow: hidden;
    margin-top: 50px;
    height: fixed;
    width: fixed;
    width: 170px;
    height: 240px;
}


.Card--image {
    border-radius: 5px;
    width: 30%;
    height: 100%;
    object-fit: cover;
}


.Card--info {
    margin-left: 50px;
    width: 400px;
}


.Card--topInfo{
    display: flex;
    height: 85px;
    /* width: 10px */
}


.Card--placeLogo {
    height: 15px;
    margin-top: 35px;
}

.Card--country {
    color: #2B283A;
    font-size: 15px;
    margin-left: 7px;
}


.Card--linkToGoogleMaps {
    margin-top: 32px;
    margin-left: 20px;
    color: #918E9B;
}


.Card--TravelPlace {
    margin-top: -30px;
    color: #2B283A;
    font-weight: bold;
}


.Card--date {
    color: #2B283A;
    font-size: 15px;
    font-weight: bold;
}


.Card--decripation {
    font-size: 15px;
    color: #2B283A;
    font-weight: normal;
    margin-top: -5px;
}






